{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block head %}
<!-- DataTables -->
<link rel="stylesheet"	href="{% static 'AdminLTE_plugins/datatables/dataTables.bootstrap.css' %}">

{% endblock head %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Configuration detail
	</h1>
	<ol class="breadcrumb">
		<li class="active">Configuration</li>
		<li>{{ instrument|default:request.user.profile.instrument }}</li>
		<li>{{ object }}</li>
	</ol>
</section>

<!-- Main content -->
<section class="invoice">
  <!-- title row -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">{{object.title}}</h2>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

	<div class="row">
		<div class="table-responsive">
    	<table class="table">
    		{% for name, value in object.get_field_titled_names_and_values %}
				{% if value %}
				<tr>
					<th style="width:50%">{{ name }}</th>
					<td>{{ value }} </td>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
		</div>
	</div>

  <!-- title row -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        Reductions for this configuration:
      </h2>
    </div>
    <!-- /.col -->
  </div>

	<div class="row">
		<div class="table-responsive">
			<table class="table">
				{% for reduction in object.reduction.all %}
				<tr>
					<th style="width:70%">{{reduction.title}}</th>
					<td><a class="btn btn-primary" data-toggle="tooltip"
					data-placement="bottom" href="{% url 'sans:eq-sans_reduction_detail' object.id %}"
					title="Click to see the details of this reduction.">View</a></td>
					<td><a class="btn btn-primary" data-toggle="tooltip"
					data-placement="bottom" href="{% url 'sans:eq-sans_reduction_update' object.id %}"
					title="Click to see the details of this reduction.">Edit</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<hr/>
			<p>
				<a class="btn btn-primary" data-toggle="tooltip"
				data-placement="top" href="{% url 'sans:eq-sans_configuration_update' object.id %}"
				title="Click to edit the details of this configuration.">Edit</a>

				<a class="btn btn-danger" data-toggle="tooltip"
				data-placement="top" href="#"
				title="Delete...">Delete</a>

				<a class="btn btn-info" data-toggle="tooltip"
				data-placement="top" href="#"
				title="Creates a copy of this configuration as you might need a few different parameters.">Duplicate</a>

				<a class="btn btn-warning" data-toggle="tooltip"
				data-placement="top" href="#"
				title="If you would like to send this configuarion to another user.">Assign to...</a>
			</p>
		</div>
	</div>

</section>

<!-- /.content -->
{% endblock %}
