{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block head %}
<!-- DataTables -->
<link rel="stylesheet"
	href="{% static 'AdminLTE_plugins/datatables/dataTables.bootstrap.css' %}">
<!-- Our internal functions -->
<script src="{% static 'js/sns.js' %}"></script>
{% endblock head %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Configuration  <small>{{ object.id }}</small>
	</h1>
	<ol class="breadcrumb">
		<li class="active">Configuration</li>
		<li>{{ instrument|default:request.user.profile.instrument }}</li>
		<li>{{ object }}</li>
	</ol>
</section>

<!-- Main content -->
<section class="invoice">
  <!-- title row -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        <i class="fa fa-globe"></i> Configuration: {{object.title}}
        <small class="pull-right"> {{object.id}}</small>
      </h2>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <div class="row">
    {% for name, value in object.get_fields %}
	{% if value %}
    <div class="col-xs-12">
      <p>{{ name }} <small class="pull-right"> {{ value }} </small></p>
    </div>
    <!-- /.col -->
    {% endif %}
    {% endfor %}
  </div>
  <!-- /.row -->


  <!-- title row -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        Reductions for this configuration:
      </h2>
    </div>
    <!-- /.col -->
  </div>


  {% for reduction in object.reduction.all %}
  <div class="row">
  	<p class="lead">Reduction: {{reduction.title}}</p>
  	{% for entry in reduction.entry.all %}
  		    <div class="col-xs-6">
		      <p class="lead">Entry: {{entry.title}}</p>
		      <div class="table-responsive">
		        <table class="table">
		          {% for name, value in entry.get_fields %}
		          <tr>
		            <th style="width:50%">{{ name }}:</th>
		            <td>{{ value }}</td>
		          </tr>
		          {% endfor %}
		        </table>
		      </div>
		    </div>
	 {% endfor %}

  <!-- /.row -->
  {% endfor %}
<!-- /.row -->
</section>

<div class="row">
	<div class="col-xs-10 ">
		<button type="button" class="btn btn-default">Edit</button>
		<button type="button" class="btn btn-info">Delete</button>
		<button type="button" class="btn btn-danger">Assign to user</button>
	</div>
</div>


</section>
<!-- /.content -->
{% endblock %}
