{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block head %}
<!-- DataTables -->
<link rel="stylesheet"
	href="{% static 'AdminLTE_plugins/datatables/dataTables.bootstrap.css' %}">
<!-- Our internal functions -->
<script src="{% static 'js/sns.js' %}"></script>
{% endblock head %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Reduction  <small>{{ object.id }}</small>
	</h1>
	<ol class="breadcrumb">
		<li class="active">Reduction</li>
		<li>{{ instrument|default:request.user.profile.instrument }}</li>
		<li>{{ object }}</li>
	</ol>
</section>

<!-- Main content -->
<section class="invoice">
  <!-- title row -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        <i class="fa fa-globe"></i> Reduction: {{object.title}}
        <small class="pull-right"> {{object.id}}</small>
      </h2>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <!-- title row -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        Configuration assigned to this reduction <small class="pull-right"> {{object.configuration}}</small>
      </h2>
    </div>
    <!-- /.col -->
  </div>


	<div class="box-body">
		<table id="table_reduction"
			class="table table-bordered table-striped">
			<thead>
				<tr>
					{% for header in entry_headers %}
					<th>{{ header }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for entry in object.entry.all %}
				<tr>
					{% for name, value in entry.get_fields %}
						{% if name in entry_names %}
						<td>{{ value }}</td>
						{% endif %}
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					{% for header in entry_headers %}
					<th>{{ header }}</th>
					{% endfor %}
				</tr>
			</tfoot>
		</table>
	</div>


  <!-- /.row -->

	<a class="btn btn-primary" data-toggle="tooltip"
	data-placement="bottom" href="{% url 'sans:eq-sans_reduction_update' object.id %}"
	title="Click to see the details of this configuration.">Edit</a>

	<button type="button" class="btn btn-default">Delete</button>
	<button type="button" class="btn btn-danger">Reduce</button>

<!-- /.row -->
</section>



</section>
<!-- /.content -->
{% endblock %}

{% block body_end %}
<!-- DataTables -->
<script
	src="{% static 'AdminLTE_plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script
	src="{% static 'AdminLTE_plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<!-- page script -->
<script>
	$(function() {
		$("#table_reduction").DataTable({
			"lengthMenu" : [ [ 20, 50, 100, -1 ], [ 20, 50, 100, "All" ] ],
			//"order": [[ 3, 'desc' ]],
			"paging" : true,
			"lengthChange" : true,
			"searching" : true,
			"ordering" : true,
			"info" : true,
			"autoWidth" : true
		});
	});
</script>
{% endblock body_end %}
