{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block head %}
<!-- DataTables -->
<link rel="stylesheet"
	href="{% static 'AdminLTE_plugins/datatables/dataTables.bootstrap.css' %}">
<!-- Our internal functions -->
<script src="{% static 'js/sns.js' %}"></script>
<!-- handsontable -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.20.3/handsontable.full.min.css"
	rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.20.3/handsontable.full.min.js"></script>
{% endblock head %} {% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Reduction <small>{{ object.id }}</small>
	</h1>
	<ol class="breadcrumb">
		<li class="active">Reduction</li>
		<li>{{ instrument|default:request.user.profile.instrument }}</li>
		<li>{{ object }}</li>
	</ol>
</section>

<!-- Main content -->

<section class="content">
	<div class="row">
		<!-- left column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Reduction Form</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form role="form" action="" method="post" onsubmit="return load_table();">
					{% csrf_token %}
					<div class="box-body">{{ form.as_p }}</div>
					<!-- /.box-body -->
					
					<div class="box-body"><div id="entries"></div></div>
					<input type="hidden" id="entries_hidden" name="entries_hidden" value="">
					
					<div class="box-footer">
						<button type="" class="btn btn-default">Cancel</button>
						{% if form.instance.pk %}
						<button type="submit" class="btn btn-primary">Update</button>
						{% else %}
						<button type="submit" class="btn btn-primary">Save</button>
						{% endif %}
					</div>
				</form>
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>

<script>

	var headers = {{entry_headers | safe}};
	// Empty data
	var data = [new Array(headers.length).join(".").split(".")];
	
	
	
	{% if entries %}
		var data = {{entries|safe}};
	{% else %}
		var data = [new Array(headers.length).join(".").split(".")];
	{% endif %}


	
	var container = document.getElementById('entries');
	var hot = new Handsontable(container, {
		data: data,
		height: 300,
		minSpareRows: 10,
		stretchH: 'all',
	    columnSorting: true,
	    contextMenu: true,
	    autoWrapRow: true,
		rowHeaders : false,
		colHeaders : headers,
		contextMenu : true,
		columns:
	        [{% for name in entry_names %}  
	            	{ data: "{{name}}" }{% if not forloop.last %},{% endif %}
	            {% endfor %}]
	});
	
    function load_table() {
    	document.getElementById('entries_hidden').value = JSON.stringify(hot.getData());
    	console.log(document.getElementById('entries_hidden').value);
        return true;
     }
	
	
</script>

<!-- /.content -->
{% endblock %} {% block body_end %}
<!-- page script -->
<script>
<!-- Admin LTE requires these classes for better forms -->
	$("input").addClass("form-control");
	$("select").addClass("form-control");
</script>
{% endblock body_end %}
