{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block head %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'AdminLTE_plugins/datatables/dataTables.bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'AdminLTE_plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css' %}">

<!-- handsontable -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.20.3/handsontable.full.min.css" rel="stylesheet">

<!--   jquery-ui for auto complete-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

<!--  boostrap dialogs -->
<link rel="stylesheet" href="{% static 'bootstrap3-dialog/css/bootstrap-dialog.min.css' %}">


<style>
    .modal .modal-body .modal-dialog {
        max-height: 420px;
				overflow-y: auto;
     }
 </style>
{% endblock head %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Reduction <small>{{ object.id }}</small>
	</h1>
	<ol class="breadcrumb">
		<li class="active">Reduction</li>
		<li>{{ instrument|default:request.user.profile.instrument }}</li>
		<li>{%if not object %}New Reduction{% else %}{{object}}{% endif %}</li>
	</ol>
</section>

<!-- Main content -->

<section class="content">
	<div class="row">
		<!-- left column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Reduction Form</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form role="form" action="" method="post" onsubmit="return load_table();">
					{% csrf_token %}
					<div class="box-body">{{ form.as_p }}</div>
					<!-- /.box-body -->

					<div class="box-body">
						<button id="button_populate" type="button" class="btn btn-primary">Populate Table below with Icat Data (Ctrl+p)</button>
					</div>

          <!-- Handsontable will be placed here -->
					<div class="box-body"><div id="entries"></div></div>
          <!-- Handsontable hidden field will be placed here -->
					<input type="hidden" id="entries_hidden" name="entries_hidden" value="">

					<div class="box-footer">
						<button type="button" class="btn btn-default" onclick="goBack()">Cancel</button>
						{% if form.instance.pk %}
						<button type="submit" class="btn btn-primary">Update</button>
						{% else %}
						<button type="submit" class="btn btn-primary">Save</button>
						{% endif %}
					</div>
				</form>
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>

<!-- The table modal form will be here (invisble) -->
<div id="catalog_container" style="display: none;">
	<div id="catalog_wrapper" class="catalog">
		<table id="catalog_table" class="table table-bordered table-hover">
	        <thead>
	            <tr>
	                <th>Run</th>
	                <th>Title</th>
	            </tr>
	        </thead>
	        <tfoot>
	            <tr>
	                <th>Run</th>
	                <th>Title</th>
	            </tr>
	        </tfoot>
	    </table>
	</div>
</div>


<!-- /.content -->
{% endblock %}

{% block body_end %}
<!-- page script -->

<!-- handsontable -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.20.3/handsontable.full.min.js"></script>

<!-- DataTables -->
<script src="{% static 'AdminLTE_plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLTE_plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'AdminLTE_plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>

<!--  boostrap dialogs -->
<script src="{% static 'bootstrap3-dialog/js/bootstrap-dialog.min.js' %}"></script>

<script>

$(function(){
  /* Call autocomplete functions on load */
	set_autocomplete("#id_ipts", "{% url 'catalog:list_iptss_json' instrument=request.user.profile.instrument.icat_name|upper %}");

	// Admin LTE requires these classes for better forms
	$("input").addClass("form-control");
	$("select").addClass("form-control");

}); //$(function(){

	/******************* Spreadsheet *************************/

	//Initial data: populated from what comes from django context variables
	var headers = {{entry_headers | safe}};
	{% if entries %}
		var data = {{entries|safe}};
	{% else %}
		// 2D empty array
		var data = [new Array(headers.length).join(".").split(".")];
	{% endif %}

 	// Creates and Populates the spreadsheet if editing the form
	var container = document.getElementById('entries');
	var hot = new Handsontable(container, {
	    data: data,
	    height: 300,
	    minSpareRows: 10,
	    stretchH: 'all',
	    columnSorting: true,
	    contextMenu: true,
	    autoWrapRow: true,
	    rowHeaders: false,
	    colHeaders: headers,
	    contextMenu: true,
      	outsideClickDeselects: false,
	    columns: [
        {% for name in entry_names %}
          { data: "{{name}}"}
          {% if not forloop.last %},{% endif %}
        {% endfor %}
      ]
	});

  // spreadsheet
  // Emitts alerts if one of the elements in the row is empty and the others are non empty
  function rowHasEmptyElements(row) {
      var empty = 0;
      var full = 0;
      for (var i = 0; i < row.length; i++) {
          if (row[i] == null || row[i] == "") empty++;
          else full++;
      }
      if (empty > 0 && full > 0) {
          BootstrapDialog.alert({
              title: 'ERROR',
              message: 'You have rows with empty cells!',
              type: BootstrapDialog.TYPE_DANGER
          });
          return true;
      } else
          return false;
  };

  // Put in the form the hidden field entries_hidden with the table contents
  // Used when updating or saving the table to pass table contents to django
  function load_table() {
      // Some validation!
      var data = hot.getData();
      for (var i = 0; i < data.length; i++) {
          if (rowHasEmptyElements(data[i])) return false;
      }
      document.getElementById('entries_hidden').value = JSON.stringify(data);
      console.log(document.getElementById('entries_hidden').value);
      return true;
  };

  /******************* Created and Populates the catalog modal dialog *************************/
  var rows_selected = new Array();
  var table_icat = null;

  function create_catalog_table(ipts){
	  var catalog_url = "{% url 'catalog:list_runs_json'  instrument=request.user.profile.instrument.icat_name ipts=12345 %}".replace(/12345/, ipts);

	    // Destroys the table when the IPTS is changed!!
	    if (table_icat != null){
	      table_icat.destroy();
	    }
		// Creates datatable with the icat IPTSs
	    table_icat = $('#catalog_table').DataTable({
	        "ajax": catalog_url,
	        "lengthMenu": [
	            [20, 50, 100, -1],
	            [20, 50, 100, "All"]
	        ],
	        "order": [
	            [0, 'asc']
	        ],
	        "paging": true,
	        "lengthChange": true,
	        "searching": true,
	        "ordering": true,
	        "info": true,
	        "autoWidth": true,
	        "dom": 'C<"clear">lfrtipT',
	        "tableTools": {
	            "sRowSelect": "os",
	            "aButtons": ["select_all", "select_none"],
	            "fnRowSelected": function(nodes) {
	                $(nodes).each(function(index, tr) { //for every row
	                	var row = new Array();
	                    $('td', tr).map(function(index, td) { //for every collumn
	                      var v = $(td).text();
	                      row.push(v)
	                    });
	                	rows_selected.push(row);
	                	rows_selected = uniq(rows_selected, [].join); //remove duplicates!
	                });
	            },
	            "fnRowDeselected": function(nodes) {
	                $(nodes).each(function(index, tr) {
	                	var row = new Array();
	                    $('td', tr).map(function(index, td) { //for every collumn
	                      var v = $(td).text();
	                      row.push(v)
	                    });
	                    // remove deletected row from rows_selected
	                    rows_selected.forEach(function(el,index){
	               			if (el[0] == row[0]){
	               				rows_selected.splice(index, 1);
	               				//break; // does not work with foreach
	               			}
	               		});

	                });
	            }
	        }
	    });
  }


  // Called when the user enter the IPTS value in the IPTS form field:
  $( "#id_ipts" ).change(function() {
    var ipts = this.value;
    create_catalog_table(ipts);
  }); //$( "#id_ipts" ).change(function() {

  $(function(){
	 /* On load, if there is an ipts builds the catalog table. This happens when the editing form */
	  if($("#id_ipts").val() ) {
		  create_catalog_table($("#id_ipts").val() );
	  }
  });

  // Open modal dialog to populate the spreadsheet
  $('#button_populate').on('click', function(event) {
    event.preventDefault(); // To prevent following the link (optional)
    populate_icat();
  });

  function populate_icat(){
      //event.stopPropagation(); //to prevent enter
      // event.stopImmediatePropagation();
      // define a handler

      var dialog = new BootstrapDialog({
          title: 'Pick the runs',
          message: $("#catalog_wrapper"),
          draggable: true,
          //closable: true,
          //closeByBackdrop: false,
          //closeByKeyboard: false,
          backdrop: 'static',
          onhidden: function() {
              $("#catalog_wrapper").appendTo('#catalog_container'); // Put the table back
          },
          buttons: [{
              label: 'Close',
              action: function(dialogRef) {
                  dialogRef.close();
              }
            },{
              label: 'Populate',
              id: 'btn-populate',
              cssClass: 'btn-primary',
              //hotkey: 13, // Enter.
              action: function(dialogRef) {
            	  // rows_selected has 2 columns: run number, run title

            	  // Let's fill the spreadsheet
                  var instance = hot.getInstance();
                  var selection = instance.getSelected();
                  // If there's not rows selected on the spreadsheets let's assume [0,0]
                  if (selection == null) selection = [0,0];

                  // Make an array of arrays to populate a collumn:[[row1],[row2],[row3]]
                  var collumn_to_populate = new Array();
                  for (var i=rows_selected.length;i--;){ //array into array of arrays
                    collumn_to_populate.push([rows_selected[i][0]]);
                  };
                  hot.populateFromArray(selection[0],selection[1], collumn_to_populate);
               	  // if populating first collumn, polulates last with names of the run
                  if (selection[1] == 0){
                	  var collumn_to_populate = new Array();
                      for (var i=rows_selected.length;i--;){ //array into array of arrays
                        collumn_to_populate.push([rows_selected[i][1]]);
                      };
                    hot.populateFromArray(selection[0], instance.countCols()-1, collumn_to_populate);
                  }
                  //rows_selected = new Array();
                  hot.render();
                  dialogRef.close();
              }
          }]
      });
      dialog.realize();
      dialog.open();
    };


  // define a handler
  function populateICatKeyUp(e) {
      // this would test for whichever key is 40 and the ctrl key at the same time
      if (e.ctrlKey && e.keyCode == 80) {
          // call your function to do the thing
          populate_icat();
      }
  }
  // register the handler
  document.addEventListener('keyup', populateICatKeyUp, false);

</script>
{% endblock body_end %}
