        <li class="treeview">
          <a href="#"><i class="fa fa-list"></i> <span>Configurations</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li><a href="{% url 'sans:biosans:configuration_create' %}" data-toggle="tooltip"
							data-placement="right"
							title="Create a new configuration from scratch.">New</a></li>
            <li><a href="{% url 'sans:biosans:configuration_list' %}" data-toggle="tooltip"
							data-placement="right"
							title="See all configurations already created.">List</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-table"></i> <span>Reductions</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li><a href="{% url 'sans:biosans:reduction_create' %}" data-toggle="tooltip"
							data-placement="right"
							title="Create a new Reduction from scratch.">New</a></li>
            <li><a href="{% url 'sans:biosans:reduction_list' %}" data-toggle="tooltip"
							data-placement="right"
							title="See all Reductions already created.">List</a></li>
          </ul>
        </li>
