{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block head %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'AdminLTE_plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock head %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{instrument}}
        <small>List of experiments</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'catalog:list_instruments'%}"><i class="fa fa-dashboard"></i> Catalog</a></li>
        <li class="active">{{instrument}}</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Experiment list</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tableipts" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>IPTS</th>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Collection</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ipts in iptss %}
                            <tr>
                                <td><a href="{% url 'catalog:list_runs' instrument ipts.id %}" data-toggle="tooltip" data-placement="right" title="Click to see the runs for this experiment...">{{ipts.id}}</a></td>
                                <td>{{ipts.title}}</td>
                                <td>{{ipts.createTime | date}}</td>
                                <td>{{ipts.collection}}</td>
                                <td>
                  <div class="btn-group">
                  <button type="button" class="btn btn-default"><a href="{% url 'catalog:list_runs' instrument ipts.id %}">Runs...</a></button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">See Runs...</a></li>
                    <li><a href="#">Create Configuration</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">More info...</a></li>
                  </ul>
                </div></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>IPTS</th>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Collection</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}

{% block body_end %}
  <!-- DataTables -->
  <script src="{% static 'AdminLTE_plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'AdminLTE_plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <!-- page script -->
  <script>
    $(function () {
      $("#tableipts").DataTable({
        "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "All"]],
        "order": [[ 2, 'desc' ]],
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true
    });
    });
  </script>
{% endblock body_end %}
