{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %} 
{% block head %}
<!-- DataTables -->
<link rel="stylesheet"
	href="{% static 'AdminLTE_plugins/datatables/dataTables.bootstrap.css' %}">
<!-- Our internal functions -->
<script src="{% static 'js/sns.js' %}"></script>
{% endblock head %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		{{runs.proposal.id}} <small>{{runs.proposal.title}}</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="{% url 'catalog:list_instruments'%}"><i
				class="fa fa-dashboard"></i> Catalog</a></li>
		<li><a
			href="{% url 'catalog:list_iptss' request.session.instrument %}">{{request.session.instrument}}</a></li>
		<li class="active">{{request.session.ipts}}</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	<!-- Your Page Content Here -->
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Experiment list</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table id="tableruns" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Run</th>
								<th>Title</th>
								<th>Proton Charge</th>
								<th>Start Time</th>
								<th>End Time</th>
								<th>Duration (s)</th>
								<th>Total Counts</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for run in runs.proposal.runs.run %}
							<tr>
								<td>{{run.id}}</td>
								<td>{{run.title}}</td>
								<td class="text-right">{{ run.protonCharge }}</td>
								<td>{{run.startTime | date}}</td>
								<td>{{run.endTime | date}}</td>
								<td class="text-right">{{run.duration | floatformat }}</td>
								<td class="text-right">{{run.totalCounts }}</td>
								<td><div class="btn-group">
										<button type="button" class="btn btn-default">
											<a href="#">Reduce...</a>
										</button>
										<button type="button" class="btn btn-default dropdown-toggle"
											data-toggle="dropdown">
											<span class="caret"></span> <span class="sr-only">Toggle
												Dropdown</span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Set as...</a></li>
											<li><a href="#">Create Configuration</a></li>
											<li><a href="#">Something else here</a></li>
											<li class="divider"></li>
											<li><a href="#">More info...</a></li>
										</ul>
									</div></td>
							</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Run</th>
								<th>Title</th>
								<th>Proton Charge</th>
								<th>Start Time</th>
								<th>End Time</th>
								<th>Duration</th>
								<th>Total Counts</th>
								<th></th>
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</section>
<!-- /.content -->
{% endblock %} {% block body_end %}
<!-- DataTables -->
<script
	src="{% static 'AdminLTE_plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script
	src="{% static 'AdminLTE_plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<!-- page script -->
<script>
	$(function() {
		$("#tableruns").DataTable({
			"lengthMenu" : [ [ 20, 50, 100, -1 ], [ 20, 50, 100, "All" ] ],
			//"order": [[ 3, 'desc' ]],
			"paging" : true,
			"lengthChange" : true,
			"searching" : true,
			"ordering" : true,
			"info" : true,
			"autoWidth" : true
		});
	});
</script>
{% endblock body_end %}
