{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block head %}
<style type="text/css" media="screen">
    #editor {
		height: 600px;
		border-style: groove;
    }
</style>
{% endblock head %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Edit script <small>{{ object.id }}</small>
	</h1>
	<ol class="breadcrumb">
		<li class="active">Jobs</li>
		<li>{{ instrument|default:request.user.profile.instrument }}</li>
		<li>{%if not object %}New{% else %}{{object}}{% endif %}</li>
	</ol>
</section>


<!-- Main content -->
<section class="content">
	<!-- Your Page Content Here -->
	<div class="row">
		<div class="col-xs-12">

			<!-- form start -->
			<form role="form" action="" method="post">
				{% csrf_token %}
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">{{object.title}}</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						{{ form }}
					</div>
					<div class="box-body">
						<div id="editor"></div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
				<p>
					<button id="button_save" name="button_save" type="submit" class="btn btn-primary"
					data-toggle="tooltip" data-placement="top" title="Only saves the script if it was modified.">Save</button>
					{% if not object %}
					<button id="button_continue" name="button_continue" type="submit" class="btn btn-primary">Continue</button>
					{% else %}
					<a class="btn btn-default" href="{% url 'jobs:job_detail' object.id  %}">Cancel</a>
					{% endif %}
				</p>
			</form>
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}

{% block body_end %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/theme-github.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/mode-python.js" type="text/javascript" charset="utf-8"></script>
<script>
	$(function(){
  		// Admin LTE requires these classes for better forms
		$("input").addClass("form-control");
	});
	// set up Ace editor
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/github");
    editor.getSession().setMode("ace/mode/python");
	
    // set editor value to what I have in the form field script
    var textarea = $('#id_script');
    editor.setValue(textarea.val(), -1); // -1 is at the document start
    editor.session.getUndoManager().markClean();
    
    // if the editor content changes activates the save button
  	editor.on("change", function() {
	   	$('#button_save').prop('disabled', editor.getSession().getUndoManager().isClean());
	});
    
    // this only makes sense for a new job, not for editing
    
  	//Disable save button (only save if the script was modified!) 
	{%if not object%}
    $('#button_save').prop('disabled', true);
	{%endif%}
	
    $('#button_save').on('click', function() {
    	$("#id_script_changed").val("True"); // set form value to changed
        var editor_content = editor.getSession().getValue();
    	textarea.val(editor_content);

    });
    

    	 
</script>
{% endblock body_end %}
