{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block head %}
{% endblock head %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Job detail
	</h1>
	<ol class="breadcrumb">
		<li class="active">Jobs</li>
		<li>{{ instrument|default:request.user.profile.instrument }}</li>
		<li>{{ object.id }}</li>
	</ol>
</section>

<!-- Main content -->
<section class="invoice">
  <!-- title row -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">{{object.title}}</h2>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

	<div class="row">
		<div class="table-responsive">
    	<table class="table">
    		{% for name, value in object.get_field_titled_names_and_values %}
				{% if value %}
				<tr>
					<th style="width:50%">{{ name }}</th>
					<td>{{ value }} </td>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
		</div>
	</div>
	
	<div class="row">
		
					<a class="btn btn-primary" data-toggle="tooltip"
					data-placement="bottom" href="{% url 'jobs:job_update' object.id  %}"
					title="">Edit</a>
					
					<a class="btn btn-primary" data-toggle="tooltip"
					data-placement="bottom" href="#"
					title="">Submit to the cluster</a>
	</div>
	
</section>
<!-- /.content -->
{% endblock %}

{% block body_end %}
{% endblock body_end %}
