{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/github.min.css">
<style type='text/css'>
pre {
        overflow: auto;
        max-height: 600px;
    }
</style>
{% endblock head %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Job detail
	</h1>
	<ol class="breadcrumb">
		<li class="active">Jobs</li>
		<li>{{ instrument|default:request.user.profile.instrument }}</li>
		<li>{{ object.id }}</li>
	</ol>
</section>

<!-- Main content -->
<section class="content">
	<div class="row">
		<!-- left column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">{{object.title}}</h3>
				</div>
				<!-- /.box-header -->
			
				<div class="box-body">
				<dl>
					<dt>Script changed?</dt>
					<dd>{{ object.script_changed }} </dd>
					
					<dt>Script</dt>
					<dd><pre><code class="python">{{ object.script }}</code></pre></dd>
					
					<dt>Number Of Nodes</dt>
					<dd>{{ object.number_of_nodes }}</dd>
					
					<dt>Cores Per Node</dt>
					<dd>{{ object.cores_per_node }}</dd>
					
					<dt>Local Status</dt>
					<dd><span class="label label-{% if object.local_status == 0 %}danger{%else%}success{%endif%}">{{ object.get_local_status_display }}</span></dd>
					
					{% if object.remote_status %}
					<dt>Remote Status</dt>
					<dd><span class="label label-{% if object.remote_status == 3 %}info{% elif object.remote_status == 4 %}primary{% elif object.remote_status == 5 %}success{% elif object.remote_status == 9 %}warning{% elif object.remote_status == 6 or object.remote_status == 7 or object.remote_status == 8 %}danger{%endif%}">{{ object.get_remote_status_display }}</span></dd>
					
					<dt>Submit Date</dt>
					<dd>{{ object.remote_submit_date | date:"DATETIME_FORMAT" }}</dd>
					
					<dt>Start Date</dt>
					<dd>{{ object.remote_start_date | date:"DATETIME_FORMAT" }}</dd>
					
					<dt>Completion Date</dt>
					<dd>{{ object.remote_complete_date | date:"DATETIME_FORMAT" }}</dd>
					
					{% endif %}
					
					
				</dl>
				</div>
				<!-- /.box-body -->

				<div class="box-footer">
					
					<a class="btn btn-primary" data-toggle="tooltip"
					data-placement="bottom" href="{% url 'jobs:job_update' object.id  %}"
					title="">Edit</a>
					
					<a class="btn btn-primary" data-toggle="tooltip" data-placement="bottom"
					title="If the job has been previouly submitted it will be cloned and re-submitted."
					href="{% url 'jobs:job_submission' object.id  %}">Submit to the cluster</a>
					
					{% if object.remote_id %}
					<a class="btn btn-primary" data-toggle="tooltip" data-placement="bottom"
					title="It will fecth job information and status from the cluster." 
					href="{% url 'jobs:job_query' object.id  %}">Query this job</a>
					{% endif %}
					
				</div>
				<!-- /.box-footer -->		
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>

<!-- /.content -->
{% endblock %}

{% block body_end %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script>
	hljs.initHighlightingOnLoad();
</script>
{% endblock body_end %}
